<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=username%>'s profile</title>

    <link rel="stylesheet" href="/style.css">

  </head>
  <body>
    <div id="container">
      <% include ../views/partials/header.ejs %>

        <div class="show-page">
          <div class="show-column">
            <h1><%= username %></h1>
            <hr class="indigo" />
            <hr class="sky" />

              <a class="top-links" href="/feed/new">Upload New Photo</a>
            </div>
              <% for (let photo of photos) { %>
                <a href='/feed/<%= photo._id %>'>
                <div class="show-img-container">
                  <div class="show-text">
                    <%= photo.caption %>
                  </div>
                  <img src="<%= photo.url %>"></a>
                </div>
                </a>
              <% } %>
        </div>

        <% include ../views/partials/footer.ejs %>


    </div>

  </body>
</html>
