<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= onePhoto.submitted_by %>'s Photo</title>

    <link rel="stylesheet" href="/style.css">

  </head>
  <body>
    <div id="container">
      <% include ../views/partials/header.ejs %>
        <div class="show-page">
          <h1>by: <%= onePhoto.submitted_by %></h1>
          <hr class="indigo" />
          <hr class="sky" />
          <div class="photo-click">
            <img src="<%= onePhoto.url %>">
            <p><%= onePhoto.caption %></p>

            <a href="/feed/<%=onePhoto._id%>/edit"><button>Edit</button></a>
          </div>
      </div>

      <% include ../views/partials/footer.ejs %>


    </div>
  </body>
</html>
